<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../script/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../stylesheet/default.css" type="text/css" media="screen" charset="utf-8">
    <script defer src="../fontawesome/svg-with-js/js/fontawesome-all.min.js"></script>
  </head>
  <body>
    <div id="app">
      <textarea id="input-box" v-model="body" rows="5"> </textarea>
      <div>
        <button v-on:click="submit">Tweet <i class="fab fa-twitter" style="color:#00aced"></i></button>
        <span>{{ charCount }}</span>
        <span v-if="done">DONE</span>
      </div>    
    </div>
    <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        body: '',
        charCount: 140,
        done: false,
      },
      methods: {
        submit: () => {
          let c = app.charCount;
          if ( c >= 130 ) {
            console.log("Tweet");
          } else if ( c <= 30) {
            console.log("tweet");
          } else {
            console.log("slack");
            axios.post('https://hooks.slack.com/services/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', {
              text: app.body,
            }).then( response => {
              app.done = true;
              setTimeout( () => { app.done = false }, 2500);
            }).catch( error => {
              console.log(error);
            });
          }
          app.body = ""; // init form
        }
      },
      watch: {
        body: () => {
          app.charCount = (140 - app.body.length);
        }
      }
    })
    </script>
  </body>
</html>
